arize-phoenix
edgartools
langchain
langchain-core
langchain-experimental
langchain-together
langgraph
openinference-instrumentation
openinference-instrumentation-langchain
opentelemetry-exporter-otlp
opentelemetry-sdk
pandas
pytest
PyYAML
python-dotenv
requests
vaderSentiment
yfinance
